$font: 'Roboto', sans-serif;

.header {
  .header_wrap {
    display: flex; justify-content: space-between; align-items: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #808080;
    .logout_btn {
      border: none; outline: none;
      background-color: transparent;
      font-family: $font;
      background-color: #eaebf1;
      border-radius: 2rem;
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}