@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

button, input {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: 1.2rem;
  background-color: #f4f9ff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.create_user {
  z-index: 99;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #caf0f8;
}
.create_user .create_user_wrap {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 2rem;
  padding: 30px;
}
.create_user .create_user_wrap .create_username {
  background-color: transparent;
  width: 200px;
  padding: 0 80px 0 0;
  font-size: 0.9rem;
}
.create_user .create_user_wrap .create_btn {
  position: absolute;
  right: 0;
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaebf1;
  box-shadow: 0 0 10px #e5ebf1;
  transform: translate(-20px) rotate(40deg);
  cursor: pointer;
}
.create_user .error_notif {
  background-color: #fff;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  transform: translateY(20px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .create_user .create_user_wrap .create_username {
    width: 150px;
    padding: 0 50px 0 0;
  }
  .create_user .create_user_wrap .create_btn {
    width: 50px;
    height: 50px;
  }
}
.app {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .app_wrap {
  width: 450px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.app .app_wrap .header {
  margin: 40px 20px 0 20px;
  padding: 20px 20px 0 20px;
  background: #fff;
}
.app .app_wrap .header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #808080;
}
.app .app_wrap .header .header_wrap .header_action {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.app .app_wrap .header .header_wrap .header_action .header_username {
  font-weight: 600;
}
.app .app_wrap .header .header_wrap .header_action .users_online {
  font-size: 0.8rem;
}
.app .app_wrap .header .header_wrap .logout_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  background-color: #eaebf1;
  border-radius: 2rem;
  padding: 10px 15px;
  cursor: pointer;
}
.app .app_wrap .send {
  background-color: #fff;
  margin: 0 20px 40px 20px;
  padding: 0 20px 20px 20px;
}
.app .app_wrap .send .send_wrap {
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 20px;
}
.app .app_wrap .send .send_wrap .send_input {
  background-color: #eaebf1;
  border-radius: 2rem;
  padding: 20px;
}
.app .app_wrap .send .send_wrap .send_btn {
  background-color: #eaebf1;
  border-radius: 2rem;
  cursor: pointer;
}
.app .app_wrap .screen {
  margin: 0 20px;
  background: #fff;
  overflow-y: auto;
}
.app .app_wrap .screen .screen_wrap {
  padding: 20px 40px 40px 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: flex-end;
}
.app .app_wrap .screen .screen_wrap .chat_box {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 0.85rem;
}
.app .app_wrap .screen .screen_wrap .chat_box .chat_dot {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #dedfe4;
  border-radius: 50%;
  z-index: 1;
}
.app .app_wrap .screen .screen_wrap .chat_box .chat_msg {
  position: relative;
  padding: 5px 15px 10px 15px;
  border-radius: 0 1rem 1rem 1rem;
  transform: translate(20px, 5px);
}
.app .app_wrap .screen .screen_wrap .chat_box .chat_msg .chat_username {
  font-size: 0.8rem;
  margin: 0 0 5px 0;
  font-weight: 600;
}
.app .app_wrap .screen .screen_wrap .chat_box .chat_msg .chat_time {
  position: absolute;
  right: 0;
  font-size: 0.7rem;
  background-color: #fff;
  border-radius: 1rem 0 0 0;
  padding: 5px 0 0 10px;
}
.app .app_wrap .screen::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}
.app .app_wrap .screen::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2rem;
}
.app .app_wrap .screen::-webkit-scrollbar-thumb:hover {
  background-color: #eaebf1;
}

@media screen and (max-width: 550px) {
  .app .app_wrap {
    width: 100%;
  }
  .app .app_wrap .header, .app .app_wrap .screen, .app .app_wrap .send {
    margin: 0;
  }
}

/*# sourceMappingURL=index.css.map */
