@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.2rem;
  background-color: #f4f9ff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_user {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #caf0f8;
}
.create_user .create_user_wrap {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
  border-radius: 2rem;
  padding: 30px;
}
.create_user .create_user_wrap .create_username {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  width: 200px;
  padding: 0 80px 0 0;
  font-size: 0.9rem;
}
.create_user .create_user_wrap .create_btn {
  position: absolute;
  right: 0;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #eaebf1;
  box-shadow: 0 0 10px #e5ebf1;
  transform: translate(-20px) rotate(40deg);
  cursor: pointer;
}
.create_user .error_notif {
  background-color: #fff;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  transform: translateY(20px);
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 20px;
}

.app {
  background: #fff;
  box-shadow: 0 0 30px #e5ebf1, 0 0 10px #e5ebf1;
}
.app .app-wrap {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
.app .app-wrap .header .header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #808080;
}
.app .app-wrap .header .header_wrap .header_action {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.app .app-wrap .header .header_wrap .header_action .header_username {
  font-weight: 600;
}
.app .app-wrap .header .header_wrap .header_action .users_online {
  font-size: 0.8rem;
}
.app .app-wrap .header .header_wrap .logout_btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  background-color: #eaebf1;
  border-radius: 2rem;
  padding: 10px 15px;
  cursor: pointer;
}
.app .app-wrap .send {
  width: 100%;
}
.app .app-wrap .send .send_wrap {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 20px;
}
.app .app-wrap .send .send_wrap #send_input {
  background-color: #eaebf1;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.app .app-wrap .send .send_wrap #send_btn {
  border: none;
  outline: none;
  background-color: #eaebf1;
  border-radius: 2rem;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.app .app-wrap .screen {
  width: 340px;
  height: 60vh;
  overflow-y: auto;
}
.app .app-wrap .screen .screen_wrap {
  padding: 20px 40px 40px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: flex-end;
}
.app .app-wrap .screen .screen_wrap .chat_box {
  position: relative;
  display: flex;
  align-items: flex-start;
  font-size: 0.85rem;
}
.app .app-wrap .screen .screen_wrap .chat_box .chat_dot {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #dedfe4;
  border-radius: 50%;
  z-index: 1;
}
.app .app-wrap .screen .screen_wrap .chat_box .chat_msg {
  position: relative;
  padding: 5px 15px 10px 15px;
  border-radius: 0 1rem 1rem 1rem;
  transform: translate(20px, 10px);
}
.app .app-wrap .screen .screen_wrap .chat_box .chat_msg .chat_username {
  font-size: 0.8rem;
  margin: 0 0 5px 0;
  font-weight: 600;
}
.app .app-wrap .screen .screen_wrap .chat_box .chat_msg .chat_time {
  position: absolute;
  right: 0;
  font-size: 0.7rem;
  background-color: #fff;
  border-radius: 1rem 0 0 0;
  padding: 5px 0 0 10px;
}
.app .app-wrap .screen::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.app .app-wrap .screen::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 2rem;
}

/*# sourceMappingURL=index.css.map */
