@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$font: 'Roboto', sans-serif;

* {
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.2rem;
  background-color: #f4f9ff;
  font-family: $font;
  font-size: 15px;
  position: absolute;
  width: 100%; height: 100%;
  display: flex; justify-content: center; align-items: center;
}

.app {
  background: #fff;
  box-shadow: 0 0 30px #e5ebf1, 0 0 10px #e5ebf1;
  .app-wrap {
    @import 'header.scss';
    @import 'send_msg.scss';
    @import 'screen.scss';
    
    padding: 30px 20px;
    display: flex; flex-direction: column;
  }
}
