.send {
  background-color: #fff;
  margin: 0 20px 40px 20px;
  padding: 0 20px 20px 20px;
  .send_wrap {
    display: grid; grid-template-columns: 1fr 80px; gap: 20px;
    .send_input {
      background-color: #eaebf1;
      border-radius: 2rem;
      padding: 20px;
    }
    .send_btn {
      background-color: #eaebf1;
      border-radius: 2rem;
      cursor: pointer;
    }
  }
}