$font: 'Roboto', sans-serif;

.send {
  width: 100%;
  .send_wrap {
    height: 50px;
    display: grid; grid-template-columns: 1fr 80px; gap: 20px;
    #send_input {
      background-color: #eaebf1;
      border-radius: 1.5rem;
      border: none; outline: none;
      padding: 20px;
      font-family: $font;
    }
    #send_btn {
      border: none; outline: none;
      background-color: #eaebf1;
      border-radius: 1.5rem;
      font-family: $font;
      cursor: pointer;
    }
  }
}