doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./styles/index.css")

    script(src="/socket.io/socket.io.js") 
    title ChatRoom
  body 
    div(class="app")
      div(class="app-wrap")
        include components/header.pug
        include components/screen.pug
        include components/send_msg.pug

script(src="./javascript/screen.js") 
script(src="./javascript/send_msg.js")
