.create_user 
  .create_user_wrap
    input.create_username(
      type="text" 
      name="username" 
      placeholder="Masukan Nama Kamu"
    )
    button.create_btn
      i.fas.fa-long-arrow-alt-up